$blue: #3a486f;
$yellow: #ecdf94;
$gray-light: #f1f1f1;
$gray: #959CB2;
$gray-mid: #545454;
$gray-dark: #2f2e2e;

$small-font: 14px;
$normal-font: 18px;
$big-font: 50px;

body {
  font-size: $small-font;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-gray {
  background-color: $gray-light;
}

.text-blue {
  color: $blue;
}

.text-gray {
  color: $gray-mid;
}

.text-black {
  color: black;
}

.text-sm-normal {
  @media screen and (min-width: 576px) {
    font-size: $normal-font;
  }
}

.text-small {
  font-size: $small-font;
}

.text-big {
  font-size: $big-font;
}

.small-line-height {
  line-height: 1.3;
}

.height100 {
  min-height: 100px;
}

.header {
  .top-nav {
    .container {
      position: relative;

      .navbar-brand div {
        position: absolute;
        top: 0;
        left: 0;

        img {
          @media screen and (max-width: 576px) {
            width: 120px;
          }
        }
      }

      .navbar-toggler {
        border: none;
      }

      .navbar-nav {
        padding-left: 220px;
        @media screen and (max-width: 576px) {
          padding-left: 120px;
        }

        a:hover {
          color: $gray !important;
        }

        .active {
          color: $yellow !important;

          &:hover {
            color: $yellow !important;
          }
        }

      }
    }
  }
}

.slide {
  padding-top: 200px;
  padding-bottom: 200px;
  background: url("../images/bg-main1.jpg") 50% center / cover no-repeat;
}

.slide-about {
  background: url("../images/bg-about.jpg") 50% center / cover no-repeat;

  .flex-container {
    height: 450px;
    padding-top: 70px;

    h2 {
      font-size: 40px;
      margin: 50px 0;
    }
  }
}

.slide-course {
  background: url("../images/bg-british-cat.jpg") 50% center / cover no-repeat;

  .flex-container {
    height: 450px;

    .slide-course-title {
      width: 350px;
    }
  }
}

.bg-decorated {
  background-image: url("../images/steps.png");
  background-repeat: no-repeat;

  &.bg-decorated-1 {
    background-position: 95% 5%;
    @media screen and (max-width: 576px) {
      background: none;
    }
  }

  &.bg-decorated-2 {
    background-position: 88% top;
    @media screen and (max-width: 996px) {
      background: none;
    }
  }

  &.bg-decorated-3 {
    background-position: 82% top;
    @media screen and (max-width: 768px) {
      background: none;
    }
  }
}

.main-content {
  .main-photo {
    border: 9px solid $gray-dark;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }

  .gallery-img {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }

  .margins100 {
    @media screen and (min-width: 1200px) {
      padding: 0 170px !important;
    }
  }

  .text-indent p {
    text-indent: 20px;
  }

  .schedule-block-header {
    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .schedule-block-title {
    margin-right: 30px;
    @media screen and (max-width: 576px) {
      font-size: 20px;
      margin-right: 0;
    }
  }

  .schedule {
    td {
      padding: 8px 10px;
      vertical-align: top;
      @media screen and (max-width: 576px) {
        padding: 3px 5px;
      }
    }
  }

  .decor {
    width: 40px;
    border-top: 3px solid rgba(233, 219, 137, 1);
    margin: 30px 0;
  }

  form {
    text-align: right;

    input {
      height: 40px;
      margin: 10px 0;

      &.btn-submit {
        background-color: rgba(233, 219, 137, 1);
        border: none;

        &:hover {
          background-color: #e4d997;
          cursor: pointer;
        }
      }
    }
  }

  .contacts {
    position: relative;

    .viber-img {
      position: absolute;
      top: 65px;
      left: 180px;
    }
  }

}

.map {
  height: 500px;
}

.footer {
  color: $gray;

  .footer-col {
    &:not(:last-child) {
      @media screen and (min-width: 768px) {
        border-right: 1px solid $gray;
      }
    }
  }
}
